[submodule "utils/busybox"]
	path = utils/busybox
	url = https://git.busybox.net/busybox/
[submodule "utils/lv_drivers"]
	path = utils/lv_drivers
	url = https://github.com/lvgl/lv_drivers
[submodule "utils/lvgl"]
	path = utils/lvgl
	url = https://github.com/lvgl/lvgl
